{% extends 'tours/base.html' %}

{% block content %}
<center>
    {% if user.is_authenticated %}
    <br /><br />
    <h1>Add Place To Database</h1>
    <br /><br />
    {% if request.GET.submitted %}
    Your Place Was Submitted Succefully!!
    {% else %}
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>
    {% endif %}
    {% else %}
    <h1>Sorry! You Must Be Logged In To Get This Page. </h1>
    <a class="btn-primary" href="{% url 'login' %}">Login Here</a>
    {% endif %}
</center>

{% endblock %}