{% extends 'tours/base.html' %}

{% block content %}
<center>
    <br /><br />
    {% if user.is_authenticated %}
    <h1>Add A New Tour</h1>
    <br /><br />
    {% if request.GET.submitted %}
    Your Tour Was Created Succefully!!
    {% else %}
    <form form action="" method=POST>
        {% csrf_token %}
        {{ tour_form.as_p }}
        <input type="submit" value="Create Tour" class="btn btn-primary">
    </form>
    {% endif %}
    {% else %}
    <h1>Sorry! You Must Be Logged In To Get This Page. </h1>
    <a class="btn-primary" href="{% url 'login' %}">Login Here</a>
    {% endif %}
</center>

{% endblock %}