{% extends 'tours/base.html' %}

{% block content %}
<center>
    <h1>Tours:</h1>
    <br />
    <table class="table table-primary table-hover table-striped table-bordered w-75">
        {% for tour in tour_list %}
        <tr class="table-secondary">
            <td>
                <a href=""> {{ tour }}</a><br>
            </td>
            <td align="right">
                <a href="{% url 'update-tour' tour.id %}" class="btn btn-primary btn-sm">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</center>

{% endblock %}