{% extends 'tours/base.html' %}

{% block content %}
<center>
    {% if user.is_authenticated %}
    {% if user == tour.administrator %}
    <h1>Update Tour</h1>

    <br />
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
    {% else %}
    <h1>Access Denied!</h1>
    <p>Only Manager of the specific tour can do some changes.</p>
    {% endif %}
    {% else %}
    <h1>Sorry! You Must Be Logged In To Get This Page. </h1>
    <a class="btn-primary" href="{% url 'login' %}">Login Here</a>
    {% endif %}

</center>

{% endblock %}